:root {
    --Orange-GASU: #eb6b44;
    --green: #2eba6d;
    --red: #e84d3d;
    --very-light-grey: #7c838a;
    --light-grey: #869394;
    --dark-grey: #525252;
    --black: #000000;
    --white: #ffffff;
    --background: #fae9e4;
    --yellow: #ffba08;
    --ink-dark: #3c3a36;
    --text-color: #0c0b0b;
}
